@use "../Base/abstracts" as *;
@use "../Base/mixins" as *;


.game {
  
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;

  &__area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 60vh;
    width: 95%;
    border: 1px solid black;
    background-image: url(../../Assets/RockBG.png);
    background-repeat: repeat-x repeat-y;
    // position: relative;
    z-index: 0;
  }




}